.header{
	width:1190px;
	margin: auto;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../img/header-20160223.gif) no-repeat 0 0;
}
.header_top{
	width: 700px;
	height: 90px;
	display: flex;
	float: right;
}
.header_top li{
	flex: 1;
	
	
	
}
.header_top .diyige{
	padding: 20px 0 0 45px;
}
.header_top .diyige b{
	display: inline-block;
    padding: 0 20px 0 24px;
    font-size: 20px;
    font-family: Arial;
    color: #e5004f;
    background: url(../img/footer-01.png) 2px 0 no-repeat;
}
.header_top .diyige i{
	font-style: normal;
	color: #666666;
	font-size: 12px;
	box-sizing: border-box;
}
.header_top .diyige span{
	padding-left: 24px;
    font-size: 14px;
    font-family: Arial;
    color: #666666;
    background: url(../img/footer-01.png) 0 -28px no-repeat;
}

.header_top .dierge{
	padding: 23px 0 0 100px;
    background: url(../img/footer-01.png) 52px -56px no-repeat;
}

.header_top .dierge div{
	display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header_top .dierge div i{
	font-style: normal;
    color: #e5004f;
}
.header_top .dierge b{
	font-weight: 400;
    color: #888;
    font-size: 12px;
}
.header_top .disange{
	padding: 23px 0 0 104px;
    background: url(../img/footer-01.png) 52px -132px no-repeat;
}
.header_top .disange div{
	display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header_top .disange div i{
	font-style: normal;
    color: #e5004f;
}
.header_top .disange b{
	font-weight: 400;
    color: #888;
    font-size: 12px;
}

.header_top .disige{
	padding: 23px 0 0 115px;
    background: url(../img/footer-01.png) 52px -203px no-repeat;
}
.header_top .disige div{
	display: block;
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.header_top .disige div i{
	font-style: normal;
    color: #e5004f;
}
.header_top .disige b{
	font-weight: 400;
    color: #888;
    font-size: 12px;
}

.main{
	width: 100%;
	height:550px;
	background:#f9f9f9;
}
.mian_1{
	width: 1190px;
	margin: auto;
	padding-top: 60px;	
}
.mian_1>img{
	height: 460px;
}
.denglu{
	width: 380px;
	height: 460px;
	float: right;
}
.denglu_top{
	width: 377px;
	height:40px;
	background: white;
	border-bottom: 1px solid #D2D2D2;
}
.denglu_top li{
	float: left;
}
.fengexian{
	height:20px;
	width:1px;
	background:#D2D2D2;
	margin-top: 10px;
	
}
.qiehuan{
	width:125px;
	height:40px;
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;
	cursor: pointer;
	color: #666666;
	position: relative;
}
.qiehuan:hover{
	border-bottom: 3px solid #E5004F;
	color: #000000;
}
.huzhao{
	width:377px;
	height:400px;
	margin-top: 20px;
	position: absolute;
	display: none;
}
.diyigehuz{
	display: block;
}
.zhangaho{
	width: 100%;
	height:60px;
	border-bottom: 1px solid #D5D5D5;
	border-top: 1px solid #D5D5D5;
	background:#FFFFFF  url(../img/ueser-img-75da284743.png) no-repeat 15px;
	background-size:25px 25px;
	overflow: hidden;
}
.mima{
	width: 100%;
	height:60px;
	border-bottom: 1px solid #D5D5D5;
	background:#FFFFFF url(../img/pass-img-c8ba68915f.png) no-repeat 15px;
	background-size:25px 25px;
}
.huzhao input{
	width: 300px;
	height: 60px;
	border: none;
	outline: none;
	margin-left: 50px;
	font-size: 16px;
}
.denglubtn{
	margin: 10px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    background-color: #e5004f;
    color: #fff;
    cursor: pointer;
}
.wangjimima{
	width: 100%;
	height:107px;
}
.wangmi{
	margin-left: 10px;
	text-decoration: none;
	float: left;
	color: #666666;
}
.zc{
	width: 40px;
	height: 30px;
	float: right;
	
	text-decoration: none;
}
.zc a{
	text-decoration: none;
	color: #A52A2A;
}
.zc a:hover{
	text-decoration: none;
}
.wangjimima:a{
	text-decoration: none;
}
.huzhao_foot{
	width: 100%;
	height: 100px;
	background: #FFFFFF;
	position: relative;
}
.natianxian{
	width: 80%;
	height: 1px;
	background:#CCCCCC ;
	margin:auto;
	position: absolute;
	top: 30px;
	left: 10%;
}
.hezuodenglu{
	font-size: 12px;
	color: #666666;
	background: white;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	left: 27%;
	top:20px ;
}
.hezuozhanghao{
	position: absolute;
	top: 50px;
	left: 37%;
	font-size: 12px;
	color: #666666;
}
.erweimadl{
	width: 100%;
	height:277px;
	background: #FFF;
	padding-top: 20px;
}
.tishi{
	margin-left:105px;
	font-size: 12px;
	color: #000000;
}
.ewmimg{
	margin-left: 140px;
	margin-bottom: 40px;
	margin-top: 55px;
	transition: all 1s ;
}
.erweima{
	height: 175px;
	overflow: hidden;
}
.ewmimg1{
	height:175px;
	margin-top: 20px;
	transition: all 1s ;
	margin-left: 10px;
	opacity: 0;
}
.erweima:hover .ewmimg{
	margin-left: 70px;
}
.erweima:hover .ewmimg1{
	opacity: 1;
}
.xiazai{
	width: 100%;
	text-align: center;
	margin-top: 10px;
}
.xiazaits{
	padding: 3px;
	width: 105px;
	border: 1px solid red;
	margin: auto;
	font-size: 10px;
	margin-top: 10px;
}
.zhuce{
	width: 380px;
	height:460px;
	float: right;
	position: relative;
}
.tupian{
	float: left;
}
.zhuce_top{
	width: 100%;
	height:50px;
	border-bottom: 3px solid #e5004f;
	text-align: center;
	line-height:50px;
	font-size: 16px;
	color: #666666;
	background-color:white;
}
.zhuce1{
	width: 100%;
	height:40px;
	text-align: right;
	line-height: 40px;
	font-size: 14px;
	color: #666666;
	padding-right: 5%;
	box-sizing: border-box;
}
.zhuce1 span{
	color: #A52A2A;
}
.zhice2 input{
	width: 380px;
	height: 50px;
	padding-left: 20px;
	box-sizing: border-box;
	outline: none;
	font-size: 14px;
}
.zhuce3{
	color: #666666;
	font-size: 12px;
	margin-top: 10px;
	box-sizing: border-box;
	padding-left: 10px;
}
.zhuce4{
	color: #666666;
	font-size: 12px;
	margin-top: 30px;
	box-sizing: border-box;
	padding-left: 10px;
}
.zhuce5{
	width: 300px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
    background: #ccc;
    border: 1px solid #ccc;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.zhuce5 a{
	color: #666666;
}
.zhice22{
	position: relative;
}
.zhuce6{
	height: 30px;
	width: 100px;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	position: absolute;
	left: 250px;
	top: 10px;
	z-index: 3;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.zccgts{
	position: absolute;
	top:92px;
	left: 0px;
	width: 100%;
	height:368px;
	background: rgba(0,0,0,0.8);
	display: none;
	z-index: 3;
}
.zccgts1{
	position: absolute;
	width: 270px;
	height: 120px;
	top: 100px;
	left:50px;
	background: white;
	border-radius: 5px;
	border: 1px solid #CCCCCC;
	font-size: 16px;
	color: #000000;
	text-align: center;
	line-height: 110px;
}
.zccgts2{
	width:150px;
	height: 20px;
	font-size: 12px;
	color: #000000;
	position: absolute;
	top:100px;
	left:120px;
	line-height: 20px;
}
