.ban_nav{
	display: none;
}

a{
	text-decoration: none;
}
html{
	color: #666666;
	background: #F4F4F4;
}
ul li {
	list-style: none;
	
}
.qbfl:hover .ban_nav{
	display: block;
}
.mingpin{
	width: 1190px;
	height: 50px;
	margin: auto;
}
.mingpin>div{
	float: left;
}
.mingpin1,.mingpin2,.mingpin3{
	width: 80px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-size: 12px;
	cursor: pointer;
	position: relative;
	z-index: 3;
}
.beijing{
	width: 50px;
	height:30px;
	background:#535353;
	position: absolute;
	left: 15px;
	top: 10px;
	z-index: -2;
	display: none;
}
.mingpinxiala{
	width: 200px;
	height: 100px;
	position: absolute;
	left:15px;
	top:40px ;
	background:#535353;
	box-shadow:2px 2px 2px #535353;
	padding-left: 15px;
	padding-top: 10px;
	display: none;
}
.mingpinxiala a{
	line-height: 30px;
	margin: 0 5px;
    float: left;
    color: #FFFDEF;
}
.mingpinxian{
	height: 20px;
	width: 1px;
	background:#C3C3C3;
	margin-top: 15px;
}
.mingpin1:hover .beijing{
	display: block;
}

.mingpin1:hover .mingpinxiala{
	 display: block;
}
.mingpin1:hover{
	 color: #FFFDEF;
}

.mingpin2:hover .beijing{
	display: block;
}

.mingpin2:hover .mingpinxiala{
	 display: block;
}
.mingpin2:hover{
	 color: #FFFDEF;
}
.mingpin3{
	width:800px;
	text-align: left;
	padding-left: 15px;
	font-weight: 400;
}
.mingpin3 b{	
	color: #e4004f;
}
.fenlei{
	width: 1190px;
	height:200px;
	background: white;
	margin: auto;
	border-top: 1px solid #000;
	border-bottom: 2px solid #000;
}
.fenlei1{
	width: 1190px;
	height: 40px;
	border-bottom: solid 1px #e1e1e1;
}
.fenlei1_1{
	width:80%;
	height: 100%;
}
.fenlei1_1 li{
	float: left;
	text-align: center;
	line-height: 40px;
	color: #666666;
}
.fenlei1_1 li.fl1{
	width: 80px;
	color: #000000;
}
.fl2{
	width: 100px;
}
.fl3{
	width: 120px;
}
.fenlei2{
	width: 1190px;
	height:78px;
	border-bottom: solid 1px #e1e1e1;
}
.fl22{
	width:130px ;
	margin-right: 40px;
}
.fl32{
	width:150px;
}
.fl42{
	width: 120px;
	margin-left:75px;
	margin-right: 40px;
}
.fle1{
	width:80px;
}
.fenlei1_2{
	width:80%;
	height:100%;
	float: left;
}
.fenlei1_2 li {
	height:100%;
	width:100px;
	float: left;
	text-align: center;
	line-height: 40px;
	color: #666666;
}
.fenlei1_2 li.fl4_1{
	width: 80px;
	color: #000000;
}

.xiding{
	width:100%;
	height: 35px;
	margin: auto;
	margin-top: 10px ;
}

.xd{
	width: 100%;
	height: 35px;
	position:fixed;
	top: 0px;
	z-index: 99;
	margin: auto;
}
.xidinglist{
	width:1190px;
	height: 35px;
	margin: auto;
	background: #5C5C5C;
}
.xidinglist li{
	cursor: pointer;
	float: left;
	text-align: center;
	line-height: 35px;
	color: white;
}
.xidinglist1_4{
	width: 70px;
	height: 35px;
	
}
.listfenge{
	width: 1px;
	height: 35px;
	background:#747474;
}
.haitao {
	width: 100px;
	position: relative;
}
.haitao i{
	display: inline-block;
	position: absolute;
    top: 12px;
    left: 13px;
    width: 13px;
    height: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    background:url(../img/pro-list-change.jpg) 0 -1px no-repeat;
}
.haitao a{
	padding: 0 16px 0 30px;
	color: white;
	text-decoration: none;
}
.haitao:hover i{
	 background:url(../img/pro-list-change.jpg) -13px -1px no-repeat;
}
.haitao:hover a{
	text-decoration: none;
}

.temai {
	width: 80px;
	position: relative;
}
.temai i{
	display: inline-block;
	position: absolute;
    top: 12px;
    left: 12px;
    width: 13px;
    height: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    background:url(../img/pro-list-change.jpg) 0 -1px no-repeat;
}
.temai a{
	padding: 0 0 0 5px;
	color: white;
	text-decoration: none;
}
.temai:hover i{
	 background:url(../img/pro-list-change.jpg) -13px -1px no-repeat;
}
.temai:hover a{
	text-decoration: none;
}

.miaohuo {
	width: 100px;
	position: relative;
	background: url(../img/miao.jpg) 65px 5px no-repeat;
}
.miaohuo i{
	display: inline-block;
	position: absolute;
    top: 12px;
    left: 13px;
    width: 13px;
    height: 12px;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
    background:url(../img/pro-list-change.jpg) 0 -1px no-repeat;
}
.miaohuo a{
	padding: 0 10px 0 0px;
	color: white;
	text-decoration: none;
}
.miaohuo:hover i{
	 background:url(../img/pro-list-change.jpg) -13px -1px no-repeat;
}
.miaohuo:hover a{
	text-decoration: none;
}
.biaodan{
	width:215px;
	height: 35px;
	position:relative;
}
.biaodan input{
	width: 165px;
	height: 23px;
	border: none;
	outline: none;
	padding-left: 3px;
}
.biaodan button{
	width: 38px;
	height: 23px;
	background:#2F2F2F;
	color: white;
	margin-left: -4px;
}
.fanye{
	width:285px;
	height: 35px;
	position: relative;
}
li.yszs{
	width:125px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background: white;
	color: #666666;
}
.yszs:hover{
	background:#E5004F ;
	color: white;
	}
.fanye1{
	width: 110px;
	height: 35px;
	position: absolute;
	right: 0px;
	padding-top: 10px;
	padding-left: 25px;
	box-sizing: border-box;
}
.fanye1 div{
    height: 15px;
	float: left;
}
.yanyezi{
	width: 30px;
	text-align: center;
	line-height: 15px;
}
.left_xiao{
	width: 15px;
    display: block;
    background:url(../img/f-left.jpg) left no-repeat;
}
.right_xiao{
	width: 15px;
    display: block;
    background:url(../img/f-right.jpg) left no-repeat;
}
.left_xiao:hover{
	  background:url(../img/f-left.jpg) -15px no-repeat;
}
.right_xiao:hover{
	  background:url(../img/f-right.jpg) -15px no-repeat;
}
.xiangqing{
	width: 1190px;
	height: 2790px;
	margin: auto;
	margin-top: 10px;
	position: relative;
}
.diyihang{
	width: 1190px;
	height:455px;
	position: absolute;
	top: 0px;
}
.dierhang{
	position:absolute;
	top: 455px;
}
.disanhang{
	position: absolute;
	top: 910px;
}

.disihang{
	position: absolute;
	top: 1365px;
}

.diwuhang{
	position: absolute;
	top: 1820px;
}
.diliuhang{
	position: absolute;
	top:2275px;
}
.diyihang>li{
	width:232px;
    float: left;
    display: inline;
    margin: 3px;
    position: relative;
    z-index: 2;
    background: #fff;
    box-sizing: border-box;
	border: 2px solid transparent;
}

.diyihang_foot{
	width: 222px;
	height: 50px;
	box-sizing: border-box;
	background: white;
	display: none;
	position: relative;
	z-index: 2;
	box-sizing: border-box;
}
.diyihang>li:hover{
	border-color:  #E5004F;
	position: relative;
	z-index: 5;
}
.diyihang>li:hover .diyihang_foot{
	display: block;
	position: relative;
	z-index: 5;
}

.diyihang_top img{
	width: 220px;
	margin-left: 3px;
}
.diyihang_center{
	width: 90%;
	height: 60px;
	padding-left: 10px;
	overflow: hidden;
}
.diyihang_center1{
	width: 40px;
	float: left;
	margin-left: 10px;
	border: 1px solid #e2e2e2;
	cursor: pointer;
}
.diyihang_center1 img{
	width: 40px;
}

.diyihang_center1:hover{
	border: 1px solid #000000;
}

.jiage{
	width:200px;
	height:23px;
	margin-top: 10px;
	padding-left: 20px;
	text-align: left;
	line-height: 23px;
	color: #e5004f;
	overflow: hidden;
}
.jiage span{
	margin-left: 20px;
	color: #999;
	text-decoration: line-through;
}
.jiage2{
	width: 205px;
	height:35px;
	margin-top: 10px;
	margin-bottom: 5px;
	padding-left: 10px;
	padding-right: 5px;
	color: #666666;
	line-height: 18px;
	font-size: 14px;
}

.diyihang_foot_zi{
	width: 184px;
    height: 30px;
    background: #2e2e2e;
    color: #fff;
    font: 14px/2.1 "微软雅黑";
    text-align: center;
    padding: 0 10px;
    overflow: hidden;
    margin-top: 30px;
    margin-left: 10px;
}
